@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

html {
    scroll-behavior: smooth !important;
}

:root {
    --blue: #96aaff;
    --background-colour: #101010;
}

body {
    min-height: 100vh;
    background-color: var(--background-colour);
    overflow-x: hidden;
}
#home {
    min-height: 100vh;
    max-height: 800px; /* Adjust this value as needed */
    display: flex;
    flex-direction: column;
}   

section{
    position: relative;;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 200px;
    max-height: 110px;
    background-color: #101010b6;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    user-select: none;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    border-bottom: 0;
    transition: all .5s ease;
    z-index: 1000;
}


section {
    scroll-snap-align: start;

}

.header::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: #96a9ff;
    transition: width .75s ease;
    border-radius: 5px;
    z-index:20;
}

.header.with-border::before {
    width: 100%;
}

/* NAVBAR */
.logo {
    font-size: 20px;
    color: var(--blue);
    text-decoration: none;
    font-weight: 400;
    filter: drop-shadow(0 0 .5px var(--blue));
}

.navbar.active {
    transform: scale(0);

}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    opacity: .75;
    transition: all .3s ease;

}

.navbar a:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.04);

}

.navbar a::before {
    content: '';
    position: absolute;
    top: 110%;
    left: 0;
    width: 0%;
    height: 4px;
    background: var(--blue);
    transition: .3s;
    border-radius: 4px;
    filter: drop-shadow(0 0 .5px var(--blue));


}


.navbar a.active {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.04);
    transition-delay: .2s;

}


.navbar a.active::before {
    width: 100%;
    transition-delay: .2s;

}

.typing-text {
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.5s;
}


@keyframes typing {
    from {
        width: 0;
    }
}

.caret {
    position: relative;
    display: inline-block;
    width: 1px;
    height: 20px;
    transform: translateY(2px);
    background-color: #d4d6ee;
    animation: blinkin 0.7s infinite;
    margin-left: 3px;
    margin-right: -3px;
}

@keyframes blinkin {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


.menu-btn {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
    color: white;
    display: none;
}

.menu-btn__burger {
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all .3s ease;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;

    transition: all .3s ease;
}

.menu-btn__burger::before {
    transform: translateY(-12px);
}

.menu-btn__burger::after {
    transform: translateY(12px);
}

.menu-btn.open .menu-btn__burger {
    background: var(--blue);

    background: transparent;
    box-shadow: none;

}

.menu-btn.open .menu-btn__burger::before {
    background: var(--blue);
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn__burger::after {
    background: var(--blue);

    transform: rotate(-45deg);
}

@media (max-width:1210px) {

    .typing-text {

    }

    .row {
        margin-left: 30px;
        margin-right: 30px;
    }

    .caret {
        display: none;
    }


    header .navbar {
        height: 0;
        position: absolute;
        top: 70%;
        left: 0;
        width: 100%;
        padding: 0 5%;
        margin: 1.5rem 0;
        overflow: hidden;
        transition: .5s ease all;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #101010b6;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);

    }

    .menu-btn {
        display: flex;



    }

    html {
        scroll-snap-type: none;
    }

    header .navbar.open {

        display: block;
        height: 290px;

        padding-bottom: 30px;
    }

    header .navbar a {
        display: block;
        transition: all .3s ease;
        margin-top: 5px;
        padding: 10px;
    }

    .navbar a::before {
        display: none;
    }


    .header {
    }



}



@media (max-width:650px) {

    .header {
        height: 10px;
    }

    .scroll-arrow-container{
        bottom: 100px !important;
    }


}

/* SOCIAL ICONS */



.social-icons {
    position: fixed;
    bottom: 20px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    overflow-x: hidden !important;
}

.social-icons a {
    margin-bottom: 30px;
    display: inline-block;
}

.social-icons i {
    font-size: 24px;
    color: rgb(147, 144, 144); /* Icon color */
    opacity: 1;
    transition: all 0.3s;
}

.social-icons i:hover {
    scale: 1.2;
    color: var(--blue);
}

.vertical-line{
    width: 1.5px;
    height: 150px;
    background-color: rgb(147, 144, 144);
    align-items: center;
    margin-bottom: 50px !important;
    margin-top: -10px !important;
    border-radius: 200px;
}




@media (max-width: 700px), (max-height: 620px) {


    .social-icons {
        flex-direction: row;
        gap: 20px;
        bottom: 0;
        right: 0;
        margin-bottom: -85px !important;
    }
}

/* HOMEPAGE */
.background-vectors {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;


}

.sqr-dots,
.circle-vector {
    position: absolute;
    opacity: 0.1;
    filter: grayscale(1);
    z-index: -10;
    overflow-x: hidden !important;
}

.sqr-dots {
    width: 150px;
    left: calc(10% + 80px);
    top: calc(20% + 400px);
    overflow-x: hidden !important;

}

.circle-vector {
    width: 100px;
    right: calc(10% + 80px);
    bottom: calc(20% + 400px);
    overflow-x: hidden !important;

}

.container {
    width: 100%;
    position: relative;
    height: calc(100vh - 340px); /* Adjust the height as needed */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding-top: 340px; /* Add top padding */
}



.home-content {
    zoom: 0.9;
    display: flex;
    margin: 0 auto;
    height: 80%;
    align-items: center;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    user-select: text;
}
::selection {
    background: var(--blue) !important;
    color: white !important;
  }
.home-text {
    flex-basis: 50%;
    margin-right: 40px;


}

.home-text h1 {
    font-size: 50px;
}

.home-text h3 {
    font-weight: 500;
    color: var(--blue);
    font: 18px
}

.home-text h2 {
    font-weight: 400;
    background: #FFFFFF;
    background: -webkit-linear-gradient(to right, #FFFFFF 0%, #96AAFF 25%);
    background: -moz-linear-gradient(to right, #FFFFFF 0%, #96AAFF 25%);
    background: linear-gradient(to right, #FFFFFF 0%, #96AAFF 25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
}

.home-text h2::selection{

    -webkit-text-fill-color: white;
}
.imgs {
    width: 400px;
    height: 400px;
    border-radius: 75px;
    border: 1px solid black;
    display: inline-flex;
    flex: 0 0 auto;
    border-radius: 50%;
    border: solid 1px var(--blue);
    box-shadow: 5px 5px 1px rgba(255, 255, 255, 0.03);
    margin-left: 40px;
    
    align-items: center;
    background-image: url(imgs/mainnew.png);
    background-size: 65%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 5px 2px #282a2d
}

.imgs h1 {
    text-align: center;
    width: 100%;
}

.buttons {
    display: flex;
}

.button {
    padding: 20px;
    margin-top: 20px;
    width: 200px;
    border-radius: 200px;
    border: 3px solid rgb(50, 50, 50);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    cursor: pointer;

    z-index: 100;
    background-color: #101010;


}

.button:hover {
    background-color: #171718 !important;



}

@media (max-width: 1200px), (max-height: 620px) {
    .home-text h3 {
        margin-top: 20px;
    }

    .home-content {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        /* Add more space above the content */

    }

    .home-text {
        align-items: center;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
    }

    .imgs {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }



    .button {
        margin: 20px 10px;
    }

}



@media (max-width: 520px) {
    .home-text h1 {
        font-size: 30px;
    }

    .home-text h2 {
        font-size: 20px;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        zoom: 1;

    }
    
    .container{
        padding-top: 0; /* Add top padding */
        height: calc(100vh); /* Adjust the height as needed */
    }
    .imgs {
        width: 150px;
        height: 150px;
        order: -1;
    }

    .button {
        width: 150px;
        font-size: 16px;
        margin: 20px 10px;
    }
}


@media (max-height: 620px) {
    body{
    }

    .header {
        height: 10px;
    }
    #about{
        scroll-margin-top: 80px;
    }
    .container{
            padding-top: 350px; /* Add top padding */
            height: calc(100vh - 350px); /* Adjust the height as needed */
    }
    .container2{
        margin-top: 280px;
    }
}



.header,
.home-content h3,
.home-content h1,
.home-content h2,
.home-content .imgs,
.home-content .buttons
 {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 1s ease, transform 1s ease;
}

.navbar
{
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 1s ease, transform 1s ease;
}
/* Add visible state */
.header.visible,
.navbar.visible,
.home-content h3.visible,
.home-content h1.visible,
.home-content h2.visible,
.home-content .imgs.visible,
.home-content .buttons.visible {
    opacity: 1;
    transform: translateY(0);
}




.scroll-arrow-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  
  .scroll-arrow {
    display: inline-block;
    animation: bounce 1.5s infinite;
    font-size: 60px;
    color: white;
    font-weight: 300;
    letter-spacing: 5px;
}
  
  @keyframes bounce {
    0%{
      transform: translateY(0);
    }
    
    50% {
      transform: translateY(20px);
    }
    
    100% {
        transform: translateY(0);
    }
    
  }
  


  

.container2 {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-top: solid 1px rgba(255, 255, 255, 0.035);
    border-bottom: solid 1px rgba(255, 255, 255, 0.035);
    padding: 20px;
}
#about{
    scroll-margin-top: 110px;
}
#experience{
    scroll-margin-top: 110px;
}
#projects{
    scroll-margin-top: 100px;

}
.card {
    max-width: 1000px;
    width: 85%;
    height: auto; /* Let the content determine height */
    /* border: gray solid 1px; */
    border-radius: 25px;
    background-color: #181818;
    margin: 20px 0;
    padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.037);

    transition: background-color ease 1s;
}

.card-content {

    width: 100%;
    height: 100%;
    padding: 40px;
}

.card-content .title {
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-align: center; /* Center-align the title */
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

.horizontal-line {
    width: 100%;
    height: 4px;
    background-color: var(--blue);
    border-radius: 20px;
    margin: 10px 0;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 40px;
/* margin-bottom: 40px; */
}

.content {
    flex: 1;
    color: white;
    margin-left: 40px;
    font-weight: 400;
    line-height: 40px;
    font-size: 16px;
}

.pfp {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    border: 1px var(--blue) solid;
    border-radius: 50%;
    background-image: url(imgs/image0.png);
    background-size: 85%;

    background-position: 5px 40px;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 5px 2px #282a2d;
    margin-bottom: 20px;
}

.extra-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    border-top: solid 1px gray;
    flex-wrap: wrap;
}

.prog-card {
    width: 200px;
    height: 140px;
    margin: 12px;
    border: solid 1px gray;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    overflow: auto;
}

.card-title {
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.card-details {
    padding-top: 5px;
    color: white;
    font-size: 14px;
}

.progress-indicator {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.dot {
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 10px 20px;
    transition: background-color 0.3s ease;
}

.dot:hover {
    cursor: pointer;
    background-color: gray;
}

.actives {
    background-color: var(--blue) !important;
    border: 1px solid var(--blue);
}

.progress-indicator .bx.font {
    color: white;
    font-size: 30px;
    transition: all 0.3s ease;
}

.progress-indicator .bx.font:hover {
    cursor: pointer;
}

@media (max-width: 900px) {
    .card {
        width:90vw; /* Adjust card width for smaller screens */
        max-height: none !important;
        height: 100%;
        max-width: none !important;
        padding: 10px;

    }
    .skill-cards{
        margin: 0px;

    }
    .pfp {
        width: 120px; /* Adjust profile picture size for smaller screens */
        height: 120px;
    }

    .content {
        font-size: 16px; /* Adjust font size for smaller screens */
        margin: 0 auto;
        align-items: center;
    }

    .extra-content {
        flex-direction: column; /* Stack the program cards vertically */
        align-items: center; /* Center-align the cards horizontally */
        margin-top: 20px;
    }

    .prog-card {
        width: 100%; /* Allow program cards to take full width on smaller screens */
        max-width: none; /* Remove max-width to ensure full width */
        margin: 12px 0; /* Add vertical margin to separate cards */
    }

    .card-title {
        font-size: 16px; /* Adjust card title font size for smaller screens */
    }

    .card-details {
        font-size: 12px; /* Adjust card details font size for smaller screens */
    }
    .profile{
        flex-direction: column !important;
    }
}

@media (max-width: 540px) {
    .card {
        width:90vw; /* Adjust card width for smaller screens */
        border: 1px solid rgba(255, 255, 255, 0.163);
        max-height: none !important;
        height: 100%;
        max-width: none !important;
        padding: 0px;

    }

    #about{
        scroll-margin-top: 80px !important;
    }
    .card-content .title{
        font-size: 34px;
    }
    .card-content{
        padding: 28px;
        text-align:start;
    }
    .content{
        padding: 0;
    }
}



.skill-cards-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
    justify-content: space-between; /* Optional: Adjust spacing between cards */
    max-width: 1000px;
    width: 100%;
    margin: 20px auto; /* Center the container */
}

.skill-cards {
    display: flex;
    flex-direction: column; /* Stack content vertically within each card */
    width: 48%; /* Adjust width to fit two cards side by side with some margin */
    height: auto; /* Let the content determine height */
    border-radius: 25px;
    background-color: #181818;
    margin: 10px 0; /* Adjust margin as needed */
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.037);
    transition: background-color ease 1s;
}

.skill-cards h3 {
    color: white;
    text-align: center;
    font-weight: 600;
}



.skills-container {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Center the skills horizontally */
    gap: 34px; /* Space between skill items */
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
     flex-wrap: wrap;
}

.skill {
    position: relative;
    display: flex;
    align-items: center; /* Ensures items are centered vertically */
    flex-direction: column;
    gap: 8px; /* Space between items */
    font-size: 20px; /* Corrected property from font to font-size */
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    font-weight: 400; /* Corrected the font-weight value */
}

.skill-img {
    height: 40px;
    width: 40px;
    font-size: 40px;
    margin: 0 auto;
    align-items: center;
    color: aquamarine;
}
.title p{
    font-size: 18px; 
    font-weight: 300; 
    margin-top: 5px
}
@media (max-width: 640px) {
    .skill-cards {
        width: 100%; /* Stack cards vertically on smaller screens */
        margin: 10px 0;
    }

    .skills-container{
        width: 100%;
        gap:10px;
    }
    .skill-img {
        height: 30px;
        width: 30px;
        font-size: 30px;

    }
    .title p{
        font-size: 14px;
    }
    .skill{
        font-size: 14px; /* Corrected property from font to font-size */
        gap: 4px; /* Space between items */

    }

}

@keyframes appearOnScroll {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}




/* PROJECT SECTION */
.projects-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-card {
    position: relative;

    width: 320px;
    height: 540px;
    margin: 20px;
    background-color: #0f0f0f;
    color: white;
    border-radius: 25px;
    display: grid;
    place-content: start;
    padding: 4px;
    isolation: isolate;
    overflow: hidden;
    text-align: center;
}


.project-card:hover::before{
    animation-play-state: paused;
}
.project-card::before,
.project-card::after{
    content: "";
    position: absolute;
}

.project-card::before{
    width: 200%;
    height: 200%;
    background-image: conic-gradient(#96aaff 0deg,
        transparent 60deg,
        transparent 180deg,
        #96aaff 180deg,
        transparent 240deg);
    inset: -50%;
    z-index: -2;
    animation: border-animation 5s linear infinite;
}

.project-card::after{
    --inset: 0.25rem;
    background-color: #2d2d2d;
    inset: var(--inset);
    border-radius: 25px;
    z-index: -2;
}
@keyframes border-animation {
    to{
        transform: rotateZ(-360deg);
    }
    
}

.project-card i{
    color: transparent;
    margin-inline: auto;
    font-size: 4rem;
    -webkit-text-stroke: thin rgb(231, 183, 244);
}

.project-image-1{
    background-color: red;
    height: 220px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-image: url(/imgs/spotify-youtube-music-playlist.png);
    background-size: contain;
    background-position: center;
    margin-bottom: 20px;
}

.project-title{
    color: white;
    font-weight: bolder;
    font-size: 24px;
}

.project-tools{
    color: coral;
    font-weight: bold;
}





.proj-title{
    color: white;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-top: 40px;
    /* margin-top: 180px; */

}

.contact-title{
    color: white;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 10px;
    margin-bottom: 35px;
    margin-top: 40px;
    /* margin-top: 180px; */

}

.proj-card{

}
.box-container {
    display: flex;
    width: 85%;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    /* margin-bottom: 400px; */
    margin: 0 auto;
    /* margin-bottom: 200px; */
    margin-bottom: 16px;

}

.box-container .box {
    width: 320px;
    background: rgb(45, 45, 45);
    margin: 20px;
    border-radius: 10px;
    overflow: hidden; /* Prevent box contents from overflowing */
    color: white;
    transition: all ease 0.3s;
    height: 364px;
}

.box:hover{
    filter: brightness(1.1);
    scale: 1.025;
    cursor: pointer;
}
.box-img {
    width: 100%;
    height: 225px;
    max-height: 250px; /* Limit the image height */
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

.box h1,
.box p,
.box h4 {
    text-align: center;
    padding: 0 30px; /* Add some horizontal padding */
}

.box h4{
    font-size: 16px;
}

.box h1{
    font-size: 24px;
}
.box p {
    /* max-height: 140px;
    height: 140px; */
    height: auto;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 16px;
}

.box a {
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
}

.box1 {
    background-image: url(imgs/spotify-youtube-music-playlist.png);
    background-size: 320px;
    clip-path:polygon(0 0, 100% 0, 100% 90%, 0 100%);

}

.box2{
    background-image: url(imgs/partly-cloudy-day.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-color: #21212d;
    clip-path:polygon(0 0, 100% 0, 100% 90%, 0 100%);

}

.box3{
    background-image: url(imgs/Screenshot\ 2023-08-29\ at\ 14-16-32\ Document.png);
    background-color: #171718;
    background-size: 300px;
    background-position-x: 8px;
    background-repeat: no-repeat;
    clip-path:polygon(0 0, 100% 0, 100% 90%, 0 100%);

}
.box4{
    background-image: url(imgs/KINETIC_KARDS.png);
    background-color: #48565c;
    background-size: 250px;
    clip-path:polygon(0 0, 100% 0, 100% 90%, 0 100%);

    background-repeat: no-repeat;
}

.box5{
    background-image: url(imgs/Screenshot\ 2024-09-11\ 070935.png);
    filter:contrast(.95);
    background-color: #21212d;
    background-size: 110%;
    box-sizing: border-box;
    
    clip-path:polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-repeat: no-repeat;
    
}
.box1-col{
    color: #4eb9e0;
}

.box4-col{
    color: #8cb8c9;
}
.box5-col{
    color: var(--blue);
}

.box1-bg-col{
    background-color: #4eb9e0;
}

.box2-col{
    color: rgb(254, 101, 80);
}

.box2-bg-col{
    background-color: rgb(254, 101, 80);
}

.box3-col{
    color: #ae83de;
}

.box3-bg-col{
    background-color: #ae83de;
}

@media (max-width: 600px) {
    .box-container {
        width: 100%; /* Make the container full width on smaller screens */
    }

    .box {
        width: calc(100% - 40px); /* Take into account the margins */
    }
}


/* Education */

.experience-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    justify-content: center;
    color: white;
}

.experience-title{
    color: white;
    font-size: 2rem;
    font-weight: 400;
    padding: 0px 0px 20px 30px;
}

.experience-contents{
    padding: 0px 30px;
    width: 100%;
    max-width: 650px;
    border-left: 2px solid #2d2d2d;
}

.experience-box{
    position: relative;
    padding: 30px;
    border: 1px solid ;
    background-color: #181818;
    border: 1px solid #ffffff09;
    border-radius: 25px;
    transition: all 0.4s;
    margin-bottom: 20px;
    user-select:text;
}

.experience-box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: -2px;
    background-color: var(--blue);
    border: 2px solid #2d2d2d;
}

.experience-box h4{
    font-weight: 450;
    
}
.experience-box h3{
    color: var(--blue);
    font-weight: 400;
    font-size: 20px;
}

.project-container{
    background-color: red;
    display:flex;
}

.experience-header{
    color: white;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 10px;
    margin-bottom: 60px;
    margin-top: 110px;
    
}

.experience-container{
    margin: 50px 0;
}

.information-container {
    max-height: 100px;
    overflow-y: scroll; /* Use 'scroll' to always show the scrollbar */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

/* For Webkit browsers (Chrome, Safari) */
.information-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.information-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners */

}

.information-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners */
}

.information-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
}


.show-more{
    background-color: var(--blue);
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    border: solid 1px #ffffff09;
    border-radius: 8px;
    margin: 0 auto;
    width: 200px;
    color: white;
    cursor: pointer;
}

.show-less{
    background-color: var(--blue);

    padding: 10px;
    border: solid 1px #ffffff09;
    border-radius: 8px;
    margin: 0 auto;
    width: 200px;
    color: white;
    cursor: pointer;
}

#toggle-buttons{
    display: flex;
    font-size: 14px;
    color: white;
    font-weight: 700;
    
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: rgb(45, 45, 45); /* Same background as boxes */
    color: white; /* Text color */
    border-radius: 10px; /* Match border radius */
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    user-select: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Add some shadow for depth */
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center children horizontally */
    text-align: center; /* Center text */
    padding: 20px; /* Add some padding */
    position: relative; /* Allow positioning of child elements */
}

.close-container {
    position: absolute; /*Position it absolutely */
    top: 14px; /* Adjust the top position */
    right: 14px; /* Adjust the right position */
}

.close-btn {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: coral; /* Change on hover */
}

.popup h1 {
    font-size: 24px; /* Match title size */
    margin-bottom: 10px; /* Spacing below title */
}

.popup p {
    margin-top: 10px; /* Spacing above description */
}
.popup-image {
    width: 320px; /* Make it responsive */
    height: 200px; /* Set a max height for the image */
    object-fit: contain; /* Cover the area without distortion */
    border-radius: 20px; /* Match the style of the popup */
    margin-bottom: 15px; /* Space below the image */
}

.popup-title{
    color: var(--blue);
}
.expand-text {
    color: var(--blue); /* Change color as needed */
    font-weight: 600;
    font-size: 1em; /* Adjust size as needed */
    margin-top: 0.5em; /* Add spacing */
    cursor: pointer; /* Change cursor to pointer */
}



/* Registration Form Styles */
.registration-container {
    /* padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px; */
    margin:0 auto; 
    vertical-align: middle;
    justify-content: center;
}

.registration-container h2 {
    font-size: 20px;
    text-align: center;
    color: var(--blue);
    padding: 10px;

    border-bottom: solid 1px #2d2d2d;

}

.registration-container form {
    max-width: 500px;
    width: 500px;
    justify-content: center;
    padding: 20px;
    background-color: #2d2d2d;
    border: solid rgba(255, 255, 255, 0.095) 1px;
    border-radius: 10px;
}

.registration-container label {
    display: block;
    margin-bottom: 4px;
    color: white;
    font-weight: 500;
}

.registration-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #414141;
    border-radius: 5px;
    background-color: #101010;
    color: white;
    height: 40px;
    
}

.reg-button {
    text-align: center; /* Center the content horizontally */
}

.reg-button button {
    width: 250px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: gray;
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all ease .25s;
}

.reg-button button:hover {
    background-color: #96aaff;
}

@media screen and (max-width: 500px) {
    .registration-container form {
        width: 100%;
    }

    .reg-button button {
        width: 100%; /* Make the button full width on smaller screens */
    }
}


.sqr-dots,
.circle-vector {
    position: absolute;
    opacity: 0.1;
    filter: grayscale(1);
    z-index: -10;
    overflow-x: hidden !important;
}

.sqr-dots {
    width: 150px;
    left: calc(10% + 80px);
    top: calc(20% + 400px);
    overflow-x: hidden !important;

}

.circle-vector {
    width: 100px;
    right: calc(10% + 80px);
    bottom: calc(20% + 400px);
    overflow-x: hidden !important;

}

.container3 {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-top: solid 1px rgba(255, 255, 255, 0.035);
    border-bottom: solid 1px rgba(255, 255, 255, 0.035);
    padding: 20px;
    height: 100vh;
}

.proj-title2{
    color: white;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 1px solid var(--blue);
    padding-bottom: 10px;
    /* margin-top: 180px; */

}

.message{
    background-color:#101010;
    border: solid 1px;
    border: 1px solid #414141;
    padding: 10px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border-radius: 5px;
    min-height: 70px;
    color: white;
    font-size: 14px;
    margin-bottom: 16px;
    max-height: 300px;
}

textarea::placeholder,
input::placeholder {
    color: white; /* Change placeholder text color to white */
    opacity: 0.7; /* Optionally, adjust opacity if you want a softer look */
    font-size: 14px;

}

@media (max-width: 700px){
    .progress-indicator {
        display: none;
    }
}
